.widget-recent-entries {
  composes: widget-recent-entries from "../../../styles/small_tools.css";
}

.widget-recent-entries ul {
  padding-left: 0;
}

.widget-recent-entries ul li {
  line-height: 32px;
}

.widget-recent-entries ul i {
  margin-right: 5px;
  font-size: 15px;
}